.toast {
    position: fixed;
    top: 20px;
    align-content: center;
    right: 20px;
    background-color: #22b126;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    transition: opacity 0.5s ease;
  }
  
  .toast p {
    margin: 0;
    font-size: 1rem;
  }
  
  .toast-hide {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  